.content {

	.aviss {
		width: 100%;
		max-width: 800px;
		margin: 5rem auto;

		.avis {
			width: 100%;
			margin: 2rem 0;
			position: relative;
			border-bottom: 1px solid $gris;	

			.avis_question {
				color: $noir;
				font-weight: 500;
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

			.avis_separation {
				width: 80px;
				margin-bottom: 1rem;
			}

			.avis_reponse {
				color: $gris-fonce;
				text-align: justify;
				margin-bottom: 2rem;
			}

			&:last-of-type {
				margin-bottom: 0;
				border-bottom: 0;
			}
		}
	}
}

.content-admin {

	.avis {
		width: 100%;
		margin: 2rem 0;
		position: relative;
		border-bottom: 1px solid lighten($gris-fonce, 15%);	

		.avis_question {
			color: $admin;
			font-weight: 500;
			margin-bottom: 1rem;
		}

		.avis_separation {
			font-style: italic;
			color: $gris-fonce;
			margin-bottom: 1rem;
			font-size: 0.8rem;
		}

		.avis_reponse {
			text-align: justify;
			margin-bottom: 1rem;
		}

		.modifier_avis {
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
			width: 50px;

			svg {
				width: 30px;
				fill: $gris-fonce;

				&:hover {
					fill: $admin;
				}
			}

			p {
				font-size: 10px;
				color: $gris-fonce;
			}
		}

		.supprimer_avis {
			position: absolute;
			top: 0;
			right: 4rem;
			cursor: pointer;
			text-align: center;
			width: 50px;

			svg {
				width: 30px;
				fill: $gris-fonce;

				&:hover {
					fill: $admin;
				}
			}

			p {
				font-size: 10px;
				color: $gris-fonce;
			}
		}	
	}

	.avis_photo_preview {
		position: relative;
		text-align: center;

		input[type="file"] {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: -1;
		}

		label {
			margin: auto;
			display: block;
			width: 150px;
			height: 150px;
			cursor: pointer;
			border-radius: 50%;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}

		p {
			color: $gris-fonce;
			font-size: 0.8rem;
		}

	}
}