.container_article {
	background: lighten($gris, 4%);
}

.article_sidebar {
	float: right;
	width: 300px;
	padding: 1.5rem;
	background: white;
	margin-top: 70px;

	h2 {
		font-size: 1.3rem;
		text-transform: uppercase;
		font-weight: 500;
		position: relative;
		color: $noir;
		text-align: center;

		&:after {
			content:url('../img/title_bottom.svg');
			display: block;
			line-height: 0;
			margin: 1rem auto 2rem;
			width: 90px;
		}
	}

	.article {
		width: 100%;
		margin-bottom: 2rem;
		text-align: left;
		border: 1px solid $gris;
		padding-bottom: 1rem;

		.article_photo {
			width: 100%;
			height: 150px;
			background-size: cover;
			background-position: 50% 50%;
			margin-bottom: 1rem;
			background-color: $gris;

			&:hover {
				opacity: 0.8;
			}
		}

		.article_titre {
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: 400;
			color: $vert;
			margin-bottom: 5px;
			padding: 0 1rem;
		}

		.article_info {
			font-size: 0.9rem;
			color: $gris-fonce;
			font-style: italic;
			margin-bottom: 1rem;
			display: block;
			padding: 0 1rem;
		}

		.article_description {
			color: $noir;
			padding: 0 1rem;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			line-height: 16px;
			max-height: 80px;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
		}
	}

	.article_lien {
		display: inline-block;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8rem;
		padding: 1rem 1.5rem;
		color: white;
		background: $vert;

		&:hover {
			background: lighten($vert, 5%);;
		}
	}
}

.article_bloc {
	float: left;
	width: calc(100% - 300px);
}

.content {

	.article_contenu {
		width: 100%;
		height: 100%;
		padding: 3rem 2rem;
		text-align: left;
	}

	.articles {
		width: 100%;
		max-width: 1032px;
		margin: 5rem auto 3rem;
		padding: 0 2rem;
		display: flex;
  		flex-wrap: wrap;

		.article {
			width: 30%;
			margin-bottom: 3rem;
			text-align: left;
			border: 1px solid $gris;
			padding-bottom: 1rem;

			&:nth-of-type(3n+2) {
				margin: 0 5% 3rem;
			}

			.article_photo {
				width: 100%;
				height: 200px;
				background-size: cover;
				background-position: 50% 50%;
				margin-bottom: 1rem;
				background-color: $gris;

				&:hover {
					opacity: 0.8;
				}
			}

			.article_titre {
				text-transform: uppercase;
				font-size: 1rem;
				font-weight: 400;
				color: $vert;
				margin-bottom: 5px;
				padding: 0 1rem;
			}

			.article_info {
				font-size: 0.9rem;
				color: $gris-fonce;
				font-style: italic;
				margin-bottom: 1rem;
				display: block;
				padding: 0 1rem;
			}

			.article_description {
				color: $noir;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				line-height: 16px;
				max-height: 80px;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				padding: 0 1rem 1rem;
			}
		}
	}
}

@media screen and (max-width: 900px) {

	.article_bloc {
		width: 100%;
	}

	.article_sidebar {
		margin-top: 0;
		float: none;
		width: 100%;

		.article {
			width: 47.5%;
			float: left;
			margin-bottom: 2rem;
			text-align: left;

			&:nth-of-type(odd) {
				margin: 0 5% 2rem 0;
			}
		}
	}

	.content {

		.article_contenu {
			width: 100%;
			height: 100%;
			padding: 3rem 2rem;
			text-align: left;
		}

		.articles {
			margin: 0;
			padding: 2rem 2rem 0;

			.article {
				width: 47.5%;
				margin-bottom: 2rem;

				&:nth-of-type(odd) {
					margin-right: 5% !important;
				}

				&:nth-of-type(3n+2) {
					margin: 0 0 2rem;
				}

				.article_photo {
					height: 200px;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {

	.article_sidebar {
		float: none;
		width: 100%;
		padding: 1.5rem;
		background: white;
		overflow: hidden;

		.article {
			width: 100%;
			float: none;

			&:nth-of-type(odd) {
				margin: 0 0 2rem 0;
			}
		}
	}

	.content {

		.article_contenu {
			padding: 2rem;
		}

		.articles {

			.article {
				width: 100%;
				margin-bottom: 2rem;

				&:nth-of-type(odd) {
					margin-right: 0 !important;
				}
			}
		}
	}
}
