::-moz-selection {
	color: white;
	background: $vert;
}

::selection {
	color: white;
	background: $vert;
}


.cover {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: $gris;

	.overlay {
		position: relative;
		padding-top: 100px;
		padding-bottom: 100px;
		z-index: 1;
		background-color: rgba($noir, 0.5);
		color: white;
		height: 100%;
		width: 100%;

		.cover_titre {
			position: absolute;
			text-align: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			h1 {
				font-size: 2rem;
				margin-bottom: 5rem;
				text-transform: uppercase;
				font-weight: 500;
				position: relative;

				&:after {
					content:url('../img/title_bottom.svg');
					position: absolute;
					left: 50%;
					margin-left: -55px;
					top: 3rem;
					width: 110px;
				}
			}

			h3 {
				font-size: 1.2rem;
				font-weight: 300;
			}
		}
	}
}

a {
	color: $vert;
}

.content-admin {
	padding: 110px 50px 50px 300px;
	width: 100%;
	text-align: left;

	.uptitle {
		margin-bottom: 0.5rem;
		font-size: 1rem;
		color: $noir;
	}

	hr {
		width: 100%;
		height: 2px;
		background: $gris;
	}

	h1, h2 {
		font-size: 2rem;
		color: $noir;
		margin-bottom: 5rem;
		text-transform: uppercase;
		font-weight: 600;
		position: relative;

		&:after {
			content: url('../img/title_bottom.svg');
			position: absolute;
			left: 50%;
			margin-left: -55px;
			top: 3rem;
			width: 110px;
		}
	}

	.titre {
		font-size: 1.5rem;
		color: $admin;
		margin-bottom: 2rem;
		text-transform: uppercase;
		font-weight: 600;
		position: relative;

		&:after {
			content: '';
		}

		span {
			font-size: 1rem;
			text-transform: initial;
			color: $gris-fonce;
			font-weight: 300;
			font-style: italic;
		}
	}

	.description {

	}

	.button {
		padding: 1rem 2rem;
		border-radius: 5px;
		background: lighten($admin, 10%);
		color: white;
		cursor: pointer;
		width: 100%;
		transition: background 0.3s;

		&:hover {
			background: $admin;
		}
	}
}

.content {
	width: 100%;
	text-align: left;

	.uptitle {
		margin-bottom: 0.5rem;
		font-size: 1rem;
		color: $noir;
	}

	hr {
		width: 100%;
		height: 2px;
		background: $gris;
	}

	h1, h2 {
		font-size: 2rem;
		color: $noir;
		margin-bottom: 5rem;
		text-transform: uppercase;
		font-weight: 600;
		position: relative;

		&:after {
			content:url('../img/title_bottom.svg');
			position: absolute;
			left: 50%;
			margin-left: -55px;
			top: 3rem;
			width: 110px;
		}
	}

	.description {

	}

	.button {
		padding: 1rem 2rem;
		border-radius: 5px;
		background: $vert;
		color: white;
		cursor: pointer;
	}
}