.content {

	.concept_introduction {
		width: 100%;
		max-width: 1200px;
		padding: 0 2rem;
		margin: 5rem auto 3rem;
		text-align: center;
        color: $gris-fonce;
        font-size: 1.1rem;

		ul {
			font-size: 0;

			li {
				width: 30%;
				display: inline-block;
				font-size: 1rem;
				padding: 1.5rem;
				text-align: center;
				border: 1px solid $gris;
				vertical-align: top;
				margin-bottom: 2rem;

				&:nth-child(3n+2) {
					margin: 0 5%;
				}

				img {
					width: 50px;
					margin-bottom: 1rem;
				}

				h3 {
					text-transform: uppercase;
					font-weight: 500;
					position: relative;
					color: $noir;

					&:after {
						content:url('../img/title_bottom.svg');
						display: block;
						margin: 1rem auto;
						width: 80px;
					}
				}

				p {
					color: $gris-fonce;
				}
			}
		}
	}

	.concept_membres {
		width: 100%;
		background: lighten($gris, 4%);

		.content {
			max-width: 1000px;
			width: 100%;
			margin: auto;
			padding: 5rem 2rem 3rem;
			text-align: center;
			color: $faux-noir;
			font-size: 0;

			.concept_membre {
				width: 47.5%;
				border: 1px solid $gris;
				text-align: left;
				margin-bottom: 2rem;
				display: inline-block;
				background: white;
				vertical-align: top;
				margin-top: 1rem;

				&:first-of-type {
					margin-right: 5%;
				}

				.concept_membre_photo {
					height: 300px;
					width: 100%;
					background-size: cover;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-color: $gris;
				}

				.concept_membre_info {
					padding: 1rem;
					text-align: center;
					min-height: 100px;

					.concept_membre_nom {
						text-transform: uppercase;
						padding-bottom: 1rem;
						font-size: 1rem;
						font-weight: 600;
					}

					.concept_membre_role {
						color: $noir;
						font-style: italic;
						position: relative;
						font-size: 0.9rem;

						&:after {
							content:url('../img/title_bottom.svg');
							display: block;
							margin: 1rem auto;
							width: 80px;
						}
					}

					.concept_membre_bio {
						color: $gris-fonce;
						position: relative;
						font-size: 1rem;
					}
				}
			}
		}
	}

	.concept_operatoire {
		max-width: 1000px;
		width: 100%;
		margin: auto;
		padding: 5rem 2rem 3rem;
		text-align: center;
		color: $faux-noir;
		text-align: left;

		h2 {
			text-align: center;
		}

		p {
			color: $gris-fonce;
		}

		.onglet {

			span {
				display: block;
				width: 100%;
				margin: 2rem 0 0;
				background: $gris;
				color: $noir;
				padding: 1rem 2rem;
				text-transform: uppercase;
				text-align: center;
				cursor: pointer;

				&:hover, &.actif {
					background: $vert;
					color: white;
				}
			}

			p {
				margin-top: 2rem;
				display: none;
			}
		}
	}

	.concept_etapes {
		width: 100%;
		background: lighten($gris, 4%);

		.content {
			max-width: 1000px;
			width: 100%;
			margin: auto;
			padding: 5rem 2rem 3rem;
			text-align: left;
			color: $faux-noir;
			font-size: 0;

			h2 {
				text-align: center;
			}

			.concept_etape {
				width: 50%;
				text-align: left;
				margin: 2rem 0;
				display: inline-block;
				vertical-align: top;

				span {
					color: white;
					float: left;
					background: $vert;
					font-size: 2rem;
					line-height: 80px;
					border-radius: 50%;
					width: 80px;
					height: 80px;
					font-weight: 700;
					text-align: center;
				}

				.etape_contenu {
					font-size: 1rem;
					color: $noir;
					padding-left: 100px;
					padding-right: 2rem;

					h3 {
						padding-bottom: 1rem;
						text-transform: uppercase;
						font-weight: 600;
					}

					p {
						text-align: justify;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.content {

		.concept_introduction {

			ul {

				li {
					width: 47.5%;
					margin-bottom: 2rem;

					&:nth-child(2n+1) {
						margin-right: 5% !important;
					}

					&:nth-child(3n+2) {
						margin: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.content {
		.concept_introduction {
			margin: 2rem auto 0;
			overflow-x: scroll;

			ul {
				width: 2040px;

				li {
					width: 320px;
					margin-right: 20px !important;

					&:nth-child(2n+1) {
						margin-right: 20px !important;
					}
				}
			}
		}

		.concept_membres {

			.content {
				padding: 2rem;

				.concept_membre {
					margin: 0 0 2rem !important;
					width: 100%;

					&:last-of-type {
						margin: 0 !important;
					}
				}
			}
		}

		.concept_operatoire {
			padding: 2rem;

			.onglet {

				span {
					display: block;
					width: 100%;
					margin: 2rem 0 0;
					background: $gris;
					color: $noir;
					padding: 1rem;
					text-transform: uppercase;
					text-align: left;
					cursor: pointer;

					&:hover, &.actif {
						background: $vert;
						color: white;
					}
				}

				p {
					margin-top: 2rem;
					display: none;
				}
			}
		}

		.concept_etapes {

			.content {
				padding: 2rem;

				.concept_etape {
					width: 100%;
					margin: 0 0 2rem;

					&:last-of-type {
						margin-bottom: 0;
					}

					span {
						float: none;
						display: block;
						margin: 0 0 1rem;
						width: 60px;
						height: 60px;
						line-height: 60px;
						font-size: 1.5rem;
					}

					.etape_contenu {
						padding-left: 0;
						padding-right: 0;

						h3 {
							padding-bottom: 1rem;
							text-transform: uppercase;
							font-weight: 600;
						}

						p {
							text-align: justify;
						}
					}
				}
			}
		}
	}
}
