::-moz-selection {
	color: white;
	background: $vert;
}

::selection {
	color: white;
	background: $vert;
}


.cover {
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: $gris;
	margin-top: 70px;

	.overlay {
		position: relative;
		padding-top: 100px;
		padding-bottom: 100px;
		z-index: 1;
		background-color: rgba($noir, 0.5);
		color: white;
		height: 100%;
		width: 100%;

		.cover_titre {
			position: absolute;
			text-align: center;
			padding: 0 2rem;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			h1 {
				font-size: 2rem;
				text-transform: uppercase;
				font-weight: 500;
				position: relative;

				&:after {
					content:url('../img/title_bottom.svg');
					display: block;
					line-height: 0;
					margin: 2rem auto;
					width: 110px;
				}
			}

			h3 {
				font-size: 1.2rem;
				font-weight: 300;
			}
		}
	}
}

a {
	color: $vert;
}

.content-admin {
	padding: 110px 50px 50px 300px;
	width: 100%;
	text-align: left;

	.uptitle {
		margin-bottom: 0.5rem;
		font-size: 1rem;
		color: $noir;
	}

	hr {
		width: 100%;
		height: 2px;
		background: $gris;
	}

	h1, h2 {
		font-size: 2rem;
		color: $noir;
		text-transform: uppercase;
		font-weight: 600;
		display: block;

		&:after {
			content:url('../img/title_bottom.svg');
			display: block;
			margin: 2rem auto;
			width: 110px;
			line-height: 0;
		}
	}

	.titre {
		font-size: 1.5rem;
		color: $admin;
		margin-bottom: 2rem;
		text-transform: uppercase;
		font-weight: 600;
		position: relative;

		&:after {
			content: '';
		}

		span {
			font-size: 1rem;
			text-transform: initial;
			color: $gris-fonce;
			font-weight: 300;
			font-style: italic;
		}
	}

	.description {

	}

	.button {
		padding: 1rem 2rem;
		background: $admin;
		color: white;
		cursor: pointer;
		width: 100%;
		transition: background 0.3s;
		margin: 0;

		&:hover {
			background: lighten($admin, 10%);
		}
	}
}

.content {
	width: 100%;
	text-align: left;

	.uptitle {
		margin-bottom: 0.5rem;
		font-size: 1rem;
		color: $noir;
	}

	hr {
		width: 100%;
		height: 2px;
		background: $gris;
	}

	h1, h2 {
		font-size: 2rem;
		color: $noir;
		text-transform: uppercase;
		font-weight: 600;
		display: block;

		&:after {
			content:url('../img/title_bottom.svg');
			display: block;
			margin: 2rem auto;
			width: 110px;
			line-height: 0;
		}
	}

	.button {
		padding: 1rem 2rem;
		font-size: 1rem;
		background: $vert;
		color: white;
		cursor: pointer;
	}
}

@media screen and (max-width: 1000px) {
	.cover {
		height: 300px;
	}
}

@media screen and (max-width: 600px) {
	.cover {
		height: 250px;

		.overlay {

			.cover_titre {

				h1 {
					font-size: 1.5rem;

					&:after {
						margin: 1.5rem auto;
						width: 80px;
					}
				}

				h3 {
					font-size: 1rem;
				}
			}
		}
	}

	.content {

		.uptitle {
			font-size: 0.9rem;
		}

		h1, h2 {
			font-size: 1.5rem;

			&:after {
				margin: 1.5rem auto;
				width: 80px;
			}
		}
	}
}