@font-face {
  font-family: "Raleway";
  src: url("../font/raleway/raleway-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/raleway/raleway-semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/raleway/raleway-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/raleway/raleway-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/raleway/raleway-light.ttf");
  font-weight: 300;
}