form.creer {
	text-align: left;
	
	input, textarea, select {
		width: 100%;
		font-size: 1rem;
		padding: 1rem;
		margin: 0.5rem 0 2rem 0;
		border: 1px solid darken($gris, 10%);
		outline: none;
	}

	textarea {
		height: 150px;
		resize: vertical;
	}

	input[type="submit"] {
		color: white;
		cursor: pointer;
	}

	select {
		background: white;
		height: 52px;
	}

	.input_1-2 {
		float: left;
		width: 47.5%;

		&:nth-of-type(odd) {
			margin-right: 5%;
		}
	}

	.input_file {
		overflow: hidden;

		input {
			width: calc(100% - 150px);
			float: left;
			border-right: 0;
		}

		div {
			background: $admin;
			text-align: center;
			border: 1px solid $admin;
			color: white;
			position: relative;
			width: 150px;
			float: left;
			padding: 1rem;
			margin: 0.5rem 0 2rem 0;

			input {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				opacity: 0;
			}
		}
	}

	table {
		margin: 0.5rem 0 2rem 0;
		width: 100%;
		padding: 2rem;
		border-collapse: collapse;

		tr {

			&:last-of-type {

				td {
					width: auto !important;
				}
			}
			
			td {
				border: 1px solid darken($gris, 10%);
				padding: 1rem;
				text-align: left;
				vertical-align: middle;
				background: white;

				&:last-of-type {
					padding: 0;
					width: 120px;
					text-align: center;
				}

				&.form_select {
					padding: 1rem;
				}

				img {
					height: 30px;
				}

				a {
					padding: 1rem;
					display: block;
					background: lighten($admin, 10%);
					color: white;
					cursor: pointer;
					width: 100%;
					transition: background 0.3s;
					text-align: center;

					&:hover {
						background: lighten($admin, 15%);
					}
				}

				select {
					margin: 0;
					border: 0;
					height: auto;
				}

				&.supprimer {
					color: $rouge;
					cursor: pointer;

					&:hover {
						color: darken($rouge, 15%);
					}
				}

				&.ajouter {
					color: $vert;
					cursor: pointer;

					&:hover {
						color: darken($vert, 15%);
					}
				}
			}
		}
	}
}