form.creer {
	text-align: left;
	
	input, textarea, select {
		width: 100%;
		font-size: 1rem;
		padding: 1rem;
		margin: 0.5rem 0 1rem 0;
		border: 1px solid $gris;
		border-radius: 5px;
		outline: none;
	}

	textarea {
		height: 100px;
	}

	input[type="submit"] {
		color: white;
		cursor: pointer;
	}

	select {
		background: white;
		height: 52px;
	}
}