header {
	padding: 10px 30px;
	background: $rouge;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

	.logo {
		height: 50px;
		fill: white;
	}

	nav {
		float: right;
		ul {
			a {
				color: white;
				li {
					display: inline;
					color: white;
					font-size: 14px;
					text-align: center;
					padding: 30px 20px;
					line-height: 50px;
					font-weight: normal;

					&:hover {
						background: rgba(0,0,0,0.2);
					}
				}
			}
		}
	}
}
