.membre {
	width: 100%;
	margin: 4rem 0;
	overflow: auto;
	position: relative;

	.membre_photo {
		border-radius: 50%;
		width: 150px;
		float: left;
	}

	.membre_info {
		margin-left: 200px;
		text-align: left;	

		.membre_nom {
			font-weight: bold;
			color: $rouge;
		}

		.membre_role {
			font-style: italic;
			color: $gris-fonce;
			margin-bottom: 1rem;
		}

		.membre_description {

		}
	}

	.modifier_membre {
		position: absolute;
		top: 0;
		right: 0;
	}	
}