.membre {
	width: 100%;
	margin: 1rem 0;
	display: table;
	position: relative;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

	.membre_photo {
		width: 150px;
		height: 100%;
		display: table-cell;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: $gris;
	}

	.membre_info {
		display: table-cell;
		text-align: left;
		padding: 1rem;	

		.membre_nom {
			color: $vert;
		}

		.membre_role {
			font-style: italic;
			color: $gris-fonce;
			margin-bottom: 1rem;
		}

		.membre_description {

		}
	}

	.modifier_membre {
		position: absolute;
		top: 1rem;
		right: 1rem;

		svg {
			width: 30px;
			fill: $vert;

			&:hover {
				fill: darken($vert, 10%);
			}
		}
	}

	.supprimer_membre {
		position: absolute;
		top: 1rem;
		right: 3.5rem;
		cursor: pointer;

		svg {
			width: 30px;
			fill: $vert;

			&:hover {
				fill: darken($vert, 10%);
			}
		}
	}	
}

.membre_photo_preview {
	position: relative;
	width: 150px;
	margin: auto;

	input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -1;
	}

	label {
		display: block;
		width: 150px;
		height: 150px;
		cursor: pointer;
		border-radius: 50%;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: darken($gris, 10%);
	}

}