.membre {
	width: 100%;
	margin: 1rem 0;
	overflow: auto;
	position: relative;
	background: white;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

	.membre_photo {
		border-radius: 50%;
		width: 150px;
		float: left;
	}

	.membre_info {
		margin-left: 200px;
		text-align: left;	

		.membre_nom {
			color: $vert;
		}

		.membre_role {
			font-style: italic;
			color: $gris-fonce;
			margin-bottom: 1rem;
		}

		.membre_description {

		}
	}

	.modifier_membre {
		position: absolute;
		top: 1rem;
		right: 1rem;

		svg {
			width: 30px;
			fill: $vert;

			&:hover {
				fill: darken($vert, 10%);
			}
		}
	}

	.supprimer_membre {
		position: absolute;
		top: 1rem;
		right: 3.5rem;

		svg {
			width: 30px;
			fill: $vert;

			&:hover {
				fill: darken($vert, 10%);
			}
		}
	}	
}