.erreur p {
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 5px;
	background: rgba($rouge, 0.3);
	color: $rouge;
	text-align: center;
}

.succes p {
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 5px;
	background: rgba($vert-clair, 0.3);
	color: $vert-clair;
	text-align: center;
}