* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: "Raleway", helvetica, arial, sans-serif;
	text-decoration: none;
	outline: none;
	list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.mce-tinymce {
	z-index: 10 !important;
}

.mce-edit-focus {
	outline: 1px dotted $gris-fonce !important;
}

.mce-menu-item .mce-ico, .mce-menu-item .mce-text {
	color: $noir !important;
	background: transparent !important;
}