.reseaux_sociaux {
	margin: 2rem;
	overflow: auto;
	padding-top: 2rem;
	position: relative;
	display: inline-block;
	height: 150px;

	.reseaux_sociaux_logo {
		display: inline-block;
		height: 75px;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		width: 50px;
	}

	.reseaux_sociaux_nom {
		font-weight: bold;
	}

	.reseaux_sociaux_lien {
		font-size: 0.8rem;
	}

	.modifier_reseaux_sociaux {
		position: absolute;
		top: 0;
		right: 0;
	}

	.supprimer_reseaux_sociaux {
		position: absolute;
		top: 0;
		right: 40px;
	}	
}