@font-face {
    font-family: "Avenir Next Regular";
    font-weight: normal;
    src: url('../../fonts/Avenir Next Condensed/AvenirNextCondensed-Regular.ttf');
}

@font-face {
    font-family: "Avenir Next Regular";
    font-weight: bold;
    src: url('../../fonts/Avenir Next Condensed/AvenirNextCondensed-bold.ttf');
}

$vert: #329899;
$vert-fonce: #34495E;
$vert-clair: #39D2B4;
$gris: #eeeeee;
$gris-fonce: #aaaaaa;
$rouge: #f35f47;