@font-face {
    font-family: "Avenir Next Regular";
    font-weight: normal;
    src: url('../../fonts/Avenir Next Condensed/AvenirNextCondensed-Regular.ttf');
}

@font-face {
    font-family: "Avenir Next Regular";
    font-weight: bold;
    src: url('../../fonts/Avenir Next Condensed/AvenirNextCondensed-bold.ttf');
}

$vert: #329899;
$gris: #eeeeee;
$rouge: #f35f47;