@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Raleway", helvetica, arial, sans-serif;
  text-decoration: none;
  outline: none;
  list-style: none; }

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 50px;
  background: #333333;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 2; }
  header .logo {
    height: 60px;
    padding: 10px 0; }
  header nav {
    float: right; }
    header nav ul a li {
      color: white;
      font-size: 14px;
      text-align: left;
      padding: 0 15px;
      font-weight: normal;
      display: inline-block;
      line-height: 60px; }
      header nav ul a li:hover {
        color: #329899; }

.reseaux-sociaux {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
  background: #329899; }

footer {
  text-align: center;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 100%; }

.cover {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #eeeeee; }

a {
  color: #329899; }

.content {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  text-align: left; }
  .content .titre {
    font-size: 1.5rem;
    color: #329899;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative; }
    .content .titre:after {
      content: url("../img/1.png");
      position: absolute;
      left: 0;
      top: 1rem; }
  .content .button {
    padding: 1rem 2rem;
    border-radius: 5px;
    background: #329899;
    color: white;
    cursor: pointer; }

form.creer {
  text-align: left; }
  form.creer input, form.creer textarea, form.creer select {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    outline: none; }
  form.creer textarea {
    height: 100px; }
  form.creer input[type="submit"] {
    background: #329899;
    color: white;
    cursor: pointer; }
  form.creer select {
    background: white;
    height: 52px; }

/* styles de base si JS est activé */
.js .input-file-container {
  position: relative;
  width: 100%; }

.js .input-file-trigger {
  display: block;
  padding: 1rem;
  background: #39D2B4;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all .4s;
  text-align: center; }

.js .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  cursor: pointer; }

/* quelques styles d'interactions */
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  color: #39D2B4;
  background: #34495E; }

/* styles du retour visuel */
.file-return {
  margin: 0;
  text-align: center; }

.file-return:not(:empty) {
  margin: 1rem 0; }

.js .file-return {
  font-style: italic;
  font-size: 1rem;
  font-weight: bold; }

/* on complète l'information d'un contenu textuel
   uniquement lorsque le paragraphe n'est pas vide */
.js .file-return:not(:empty):before {
  content: "Fichier importé : ";
  font-style: normal;
  font-weight: normal; }

.erreur p {
  padding: 1rem;
  margin: 1rem;
  background: rgba(243, 95, 71, 0.3);
  color: #f35f47; }

.succes p {
  padding: 1rem;
  margin: 1rem;
  background: rgba(57, 210, 180, 0.3);
  color: #39D2B4; }

.membre {
  width: 100%;
  margin: 4rem 0;
  overflow: auto;
  position: relative; }
  .membre .membre_photo {
    border-radius: 50%;
    width: 150px;
    float: left; }
  .membre .membre_info {
    margin-left: 200px;
    text-align: left; }
    .membre .membre_info .membre_nom {
      font-weight: bold;
      color: #329899; }
    .membre .membre_info .membre_role {
      font-style: italic;
      color: #aaaaaa;
      margin-bottom: 1rem; }
  .membre .modifier_membre {
    position: absolute;
    top: 0;
    right: 0; }
  .membre .supprimer_membre {
    position: absolute;
    top: 0;
    right: 40px; }

.cover--home {
  width: 100%;
  height: 400px;
  margin-top: 60px; }
  .cover--home ul li {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #eeeeee;
    position: relative; }
    .cover--home ul li .cover_texte {
      padding-right: 4rem;
      float: right;
      text-align: right;
      position: absolute;
      right: 2rem;
      top: 50%; }
      .cover--home ul li .cover_texte h3 {
        color: white;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.8);
        padding: 1rem;
        margin-bottom: 1.5rem;
        display: inline-block; }
      .cover--home ul li .cover_texte span {
        color: white;
        background: rgba(51, 153, 153, 0.8);
        padding: 1rem; }

.accueil_introduction {
  margin-top: 3rem;
  width: 800px;
  margin: 3rem auto; }

.accueil_produits {
  font-size: 0px;
  padding: 3rem; }
  .accueil_produits .accueil_produit {
    width: 50%;
    display: inline-block;
    font-size: 1rem; }
    .accueil_produits .accueil_produit:nth-child(odd) {
      padding-right: 1rem; }
    .accueil_produits .accueil_produit .accueil_produit_photo {
      width: 100%;
      height: 230px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-color: #eeeeee; }
    .accueil_produits .accueil_produit .accueil_produit_info {
      padding: 1rem 0; }
      .accueil_produits .accueil_produit .accueil_produit_info .accueil_produit_nom {
        text-transform: uppercase;
        color: #329899;
        margin-bottom: 1rem; }
      .accueil_produits .accueil_produit .accueil_produit_info .accueil_produit_description {
        color: #333333; }

.produit {
  width: 100%;
  margin: 4rem 0;
  overflow: auto;
  position: relative; }
  .produit .produit_photo {
    width: 150px;
    float: left; }
  .produit .produit_info {
    margin-left: 200px;
    text-align: left; }
    .produit .produit_info .produit_nom {
      font-weight: bold;
      color: #329899; }
    .produit .produit_info .produit_role {
      font-style: italic;
      color: #aaaaaa;
      margin-bottom: 1rem; }
  .produit .modifier_produit {
    position: absolute;
    top: 0;
    right: 0; }
  .produit .supprimer_produit {
    position: absolute;
    top: 0;
    right: 40px; }

.produit_gamme {
  width: 30%;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #eeeeee;
  display: inline-block; }
  .produit_gamme span {
    color: white;
    line-height: 200px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.5rem; }

.gamme {
  width: 100%;
  margin: 4rem 0;
  overflow: auto;
  position: relative; }
  .gamme .gamme_photo {
    width: 150px;
    float: left; }
  .gamme .gamme_info {
    margin-left: 200px;
    text-align: left; }
    .gamme .gamme_info .gamme_nom {
      font-weight: bold;
      color: #329899; }
    .gamme .gamme_info .gamme_role {
      font-style: italic;
      color: #aaaaaa;
      margin-bottom: 1rem; }
  .gamme .modifier_gamme {
    position: absolute;
    top: 0;
    right: 0; }
  .gamme .supprimer_gamme {
    position: absolute;
    top: 0;
    right: 40px; }

.faq {
  width: 100%;
  margin: 4rem 0;
  overflow: auto;
  position: relative;
  text-align: left; }
  .faq .faq_question {
    font-weight: bold;
    color: #329899;
    margin-bottom: 1rem; }
  .faq .modifier_faq {
    position: absolute;
    top: 0;
    right: 0; }
  .faq .supprimer_faq {
    position: absolute;
    top: 0;
    right: 40px; }

.partenaire {
  margin: 2rem;
  overflow: auto;
  padding-top: 2rem;
  position: relative;
  display: inline-block;
  height: 200px; }
  .partenaire .partenaire_logo {
    display: inline-block;
    height: 120px;
    vertical-align: middle; }
  .partenaire img {
    vertical-align: middle;
    width: 100px; }
  .partenaire .partenaire_nom {
    font-weight: bold; }
  .partenaire .modifier_partenaire {
    position: absolute;
    top: 0;
    right: 0; }
  .partenaire .supprimer_partenaire {
    position: absolute;
    top: 0;
    right: 40px; }

.reseaux_sociaux {
  margin: 2rem;
  overflow: auto;
  padding-top: 2rem;
  position: relative;
  display: inline-block;
  height: 150px; }
  .reseaux_sociaux .reseaux_sociaux_logo {
    display: inline-block;
    height: 75px;
    vertical-align: middle; }
  .reseaux_sociaux img {
    vertical-align: middle;
    width: 50px; }
  .reseaux_sociaux .reseaux_sociaux_nom {
    font-weight: bold; }
  .reseaux_sociaux .reseaux_sociaux_lien {
    font-size: 0.8rem; }
  .reseaux_sociaux .modifier_reseaux_sociaux {
    position: absolute;
    top: 0;
    right: 0; }
  .reseaux_sociaux .supprimer_reseaux_sociaux {
    position: absolute;
    top: 0;
    right: 40px; }

.connexion {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #eeeeee;
  background-image: url("../img/connexion.jpg"); }
  .connexion .connexion_content {
    width: 500px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .connexion .connexion_content .connexion_logo {
      width: 251px;
      margin-bottom: 2rem; }
    .connexion .connexion_content form.connexion_form {
      text-align: left;
      color: white; }
      .connexion .connexion_content form.connexion_form input {
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
        margin: 0.5rem 0 1rem 0;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        outline: none;
        color: white; }
      .connexion .connexion_content form.connexion_form input[type="submit"] {
        border: 0;
        color: white;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
        transition: .3s; }
        .connexion .connexion_content form.connexion_form input[type="submit"]:hover {
          background: rgba(255, 255, 255, 0.3); }
      .connexion .connexion_content form.connexion_form .connexion_erreur p {
        text-align: center;
        padding: 1rem 0;
        color: #f35f47; }
